.moisture-table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}
.moisture-table th,
.moisture-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.moisture-table th {
  background-color: #f2f2f2;
  text-align: center;
}

.moisture-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.moisture-table tr:hover {
  background-color: #ddd;
}
