
.recent-moisture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 8px 0;
}
.recent-moisture__sensor-status {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    flex-shrink: 0;
}
