
.recent-moisture-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.recent-moisture__sensor-status {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    flex-shrink: 0;
}
.recent-moisture__text{
    display: flex;
    align-items: center;
}

.moisture-card .ffe-image-card__body {
    text-align: left;
}

.moisture-card .ffe-image-card__body .ffe-card-body__text {
    color: var(--ffe-color-foreground-default);
}

.moisture-status-message {
    margin-top: var(--ffe-spacing-sm);
}

.moisture-card-button {
    margin-block: var(--ffe-spacing-md);
}

.moisture-card-modal {
    min-width: 80%;
}

.moisture-card-modal .ffe-modal__body {
    max-width: none;
}