
.show-graph-button{
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.show-graph-button__text{
    display: flex;
    align-items: center;
}
.show-graph-button__icon{
    margin-left: 4px;
}

