.App {
  text-align: center;
}

.App-header {
  background-color: var(--ffe-color-background-default);
  color: var(--ffe-color-foreground-default);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: var(--ffe-spacing-xl);
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--ffe-spacing-xl);
}

.main-content__tab-content {
  margin-top: var(--ffe-spacing-md);
}
