.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.recent-moisture{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;

}
.recent-moisture__sensor-status{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

.moisture-table{
  margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
}
.moisture-table th, .moisture-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.moisture-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.moisture-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.moisture-table tr:hover {
  background-color: #ddd;
}