@import '~@sb1/ffe-core/css/ffe.css';
@import '~@sb1/ffe-shapes/css/shapes.css';
@import '~@sb1/ffe-tabs/css/tabs.css';
@import '~@sb1/ffe-cards/css/cards.css';
@import '@sb1/ffe-messages/css/messages.css';
@import '~@sb1/ffe-icons/css/ffe-icons.css';
@import '~@sb1/ffe-buttons/css/buttons.css';
@import '@sb1/ffe-modals/css/modal.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--ffe-color-foredround-fill);
  font-family: var(--ffe-g-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
